<p-panel  class="p-1 text-lg">
  <ng-template pTemplate="header">
    <div class="text-2xl font-bold">Pipes Básicos</div>
  </ng-template>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ nameTitle | titlecase}}
    </p-card>
  </div>
</div>
