<p-panel class="p-1 text-lg">
  <ng-template pTemplate="header">
    <div class="text-2xl font-bold">Pipes numéricos </div>
  </ng-template>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>


<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="Presente año">
      {{ (totalSells + 2345) | number:'1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="Presente año">
      {{ totalSells | currency:'COP':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia Porcentual" subheader="Presente año">
      {{ percent | percent: '1.2-2' }}
    </p-card>
  </div>
</div>
